#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install Frontloader
Exec=sh -c 'curl -s https://raw.githubusercontent.com/EmuDeck/Frontloader/master/gui_install.sh | bash'
Icon=steamdeck-gaming-return
Terminal=false
Type=Application
StartupNotify=false